 <div class="user-details">
  <h1> Experiencia </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Diseño</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>La mayor parte de mi energia la gasto diseñando nuevas experiencias.  
      </p>
    </div>
    <div class="tech">
      <h2>Codigo</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Programando con javascript, utilizando react y manejando paquetes con node.js.
      </p>
    </div>
    <div class="tech">
      <h2>Herramientas</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Paquete de herramientas que simplemente hacen la vida mas facil.
      </p>
    </div>
</div>
