<div id="particles-js">
  <div class="header">

      <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicons/favicon-16x16.png">
      <link rel="manifest" href="../assets/favicons/site.webmanifest">
      <link rel="mask-icon" href="../assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#00a300">
      <meta name="theme-color" content="#ffffff">

      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:urielmendoza.ga@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/urielmendozag"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>Sobre mi</a>
        <a class="link" href="#projects" data-scroll>Proyectos</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
