<div class="user-details">
  <h1> Proyectos Destacados </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/MaquinaOculta.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 24andfour </h3>
    <ul>
      <li> Diseño + Maquetación </li>
    </ul>
    <p>24andfour es una empresa ficticia dedicada al web hosting, checa sus planes!</p>
    <a class="project-link" target="_blank"  href="https://vumg.github.io/24andofour/index.html">Ver más</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/dibujos-02.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Pinkpower </h3>
    <ul>
      <li> Bootstrap + Responsive Web Design </li>
    </ul>
    <p>Pinkpower es una pagina web informativa con mensaje y diseño dedicado al poder rosa.</p>
    <a class="project-link" target="_blank" href="https://vumg.github.io/pinkpower/">Ver más</a>
  </div>
</div>
