<div class="user-details">
  <h1> Proyectos Destacados </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/MaquinaOculta.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Astronomic Picture of the Day </h3>
    <ul>
      <li> React + Rest + Responsive Design </li>
    </ul>
    <p> Esta pagina web hecha con React recupera datos de la API de la NASA APOD y los muestra dinamicamente. </p>
    <a class="project-link" target="_blank"  href="https://nasa-apod-vumg.herokuapp.com">Ver más</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/dibujos-02.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sevaser </h3>
    <ul>
      <li> REACT HOOKS + Material Design + UI/UX </li>
    </ul>
    <p>
      Sevaser es una aplicacion web que permite organizar eventos de forma rapida y eficiente entre amigos.
    </p>
    <a class="project-link" target="_blank" href="https://sevaser.herokuapp.com/">Ver más</a>
  </div>
</div>
