<div class="user-details">
  <h1> Proyectos Destacados </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/MaquinaOculta.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 24andfour </h3>
    <ul>
      <li> Responsive Web Design </li>
    </ul>
    <p>24andfour es una empresa ficticia dedicada al web hosting, checa sus planes!</p>
    <a class="project-link" target="_blank"  href="https://vumg.github.io/24andofour/about.html">Ver más</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/dibujos-02.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> UNION </h3>
    <ul>
      <li> Diseño Web </li>
    </ul>
    <p>Pinkpower es una pagina (en desarrollo) con mensaje y diseño dedicado a la mujer que mas amo en esta vida.</p>
    <a class="project-link" target="_blank" href="https://github.com/vumg/pinkpower">Ver más</a>
  </div>
</div>
